 <app-adminnavbar></app-adminnavbar>
<!-- <div *ngIf="users.length!=0; else block">
    <div class="container mt-5">
        <div>
            <table class="table table-dark table-striped">
                <thead>
                    <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th colspan="2">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users">
                    <td>{{user.firstName}}</td>
                    <td>{{user.lastName}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.role}}</td>
                    
                    <td><a class="btn btn-danger" (click)="delete(user.registrationId)">Delete</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <a class="btn btn-primary">Back</a>
    </div>  
  
</div>

<ng-template #block>No Record Found</ng-template> -->





<!--Material Table-->




 <div class="container">
    <div>
      <table mat-table [dataSource]="users" class="mat-elevation-z8">
  

  
       
        <ng-container matColumnDef="firstName">
          <th mat-header-cell *matHeaderCellDef> First Name </th>
          <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
        </ng-container>
  
        <ng-container matColumnDef="lastName">
          <th mat-header-cell *matHeaderCellDef> Last Name </th>
          <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
        </ng-container>
  
       
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>
  
       
        <ng-container matColumnDef="role">
          <th mat-header-cell *matHeaderCellDef> Role </th>
          <td mat-cell *matCellDef="let element"> {{element.role}} </td>
        </ng-container>
  
       
  
  
  
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> Action </th> 
          <td mat-cell *matCellDef="let element">
           
            <button (click)="delete(element.registrationId)"  mat-icon-button color="warn">
              <mat-icon>delete</mat-icon>
            </button>
           
  
  
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
  
    </div>
  </div>