<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">EMS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
      
           
            <form class="d-flex" role="events">
<!--                 <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button> -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active"  href="#" routerLink="/home">Home</a>
                    </li>&nbsp;&nbsp;&nbsp;&nbsp;
                    <li class="nav-item">
                        <a class="nav-link" href="#" routerLink="/events">Events</a>
                    </li>&nbsp;&nbsp;&nbsp;&nbsp;
                    <li class="nav-item">
                        <a class="nav-link" href="#" routerLink="/addEvent">Add Event</a>
                    </li>&nbsp;&nbsp;

                    <li class="nav-item">
                        <a class="nav-link" href="#" routerLink="/registration">Register</a>
                    </li>&nbsp;&nbsp;

                    <li class="nav-item">
                        <a class="nav-link" href="#" routerLink="/addOffer">Add Offer</a>
                    </li>&nbsp;&nbsp;

                    <li class="nav-item">
                        <a class="nav-link" href="#" routerLink="/viewOffers">View Offer</a>
                    </li>&nbsp;&nbsp;

                    <li class="nav-item">
                        <a class="nav-link" href="#" routerLink="/viewOrganizerBookings">View Bookings</a>
                    </li>&nbsp;&nbsp;
                    
                    <li class="nav-item">
                        <a class="nav-link" href="#" routerLink="/login">Login</a>
                    </li>&nbsp;&nbsp;

                    <li class="nav-item">
                        <a class="nav-link" href="#" routerLink="/viewComplaints">View Complaints</a>
                    </li>&nbsp;&nbsp;

    
                </ul>
                <!-- <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#" routerLink="/register">Register</a>
                    </li>&nbsp;&nbsp;
                    <li class="nav-item">
                        <a class="nav-link" href="#" routerLink="/login">Login</a>
                    </li>
                </ul>
                 -->
                </div>
            </form>
        </div>
 
</nav>

<router-outlet></router-outlet>