<mat-toolbar >
    <mat-toolbar-row>
      <button (click)="opened=!opened" mat-icon-button color="accent">
        <mat-icon>menu</mat-icon>
      </button>
      <h1>Event Managment System</h1>
      <span class="example-spacer"></span>
      <button mat-raised-button color="warn" (click)="Logout()">Logout</button>
    </mat-toolbar-row>
  
    <span class="example-spacer"></span>
    
     
    
      
    
  </mat-toolbar> 
  
  <!-- <div *ngFor = "let employee of employees">
    <div>{{employee.name}}</div>
  </div>  -->
  
  <!-- 
  <mat-toolbar>
    <mat-toolbar-row>
      <button (click)="opened=!opened" mat-icon-button color="accent">
        <mat-icon>menu</mat-icon>
      </button>
      <h1>Event Managment System</h1>
      <span class="example-spacer"></span>
      <button mat-raised-button color="warn" (click)="openDialog()">Add Employee</button>
    </mat-toolbar-row>
    
  </mat-toolbar> -->
  
  <mat-sidenav-container>
    
    <mat-sidenav mode="push" [(opened)]="opened"><h2>Menu</h2>
      <h4 class="name">Jason Mac</h4>
      
      <mat-divider></mat-divider>
      
      <mat-nav-list>
        <mat-list role="list">
          
          
          <mat-list-item role="listitem" routerLink="/viewUserEvent">View Events</mat-list-item>
          <mat-list-item role="listitem" routerLink="/viewUserbookings">Booking History</mat-list-item>
          <mat-list-item role="listitem" (click)="openComplaint()">Add Complaint</mat-list-item>
          <mat-list-item role="listitem" routerLink="/viewUserComplaints">View Complaints</mat-list-item>
          <!-- <mat-list-item role="listitem" routerLink="/userComplaint">Add Complaint</mat-list-item> -->
          <!-- <mat-list-item role="listitem" routerLink="">View Category</mat-list-item>
          <mat-list-item role="listitem" routerLink="memberList">Members List</mat-list-item> -->
        </mat-list>
      </mat-nav-list>
     
    </mat-sidenav>
    <mat-sidenav-content>
    <div class = "usersidenav" >
      
      <router-outlet></router-outlet>
  
    </div>
    
      
      
  
  
    </mat-sidenav-content>
  
  
  
  </mat-sidenav-container>